# monitoring/prometheus-stack-helmrelease.yaml
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-stack
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.0.1"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: monitoring
      interval: 5m
  values:
    # --- Grafana Configuration ---
    grafana:
      admin:
        existingSecret: "grafana-admin-credentials"
        userKey: "admin-user"
        passwordKey: "admin-password"

      persistence:
        enabled: true
        type: pvc
        size: 20Gi
        storageClassName: "longhorn"

      service:
        type: ClusterIP

    # --- Prometheus Configuration ---
    prometheus:
      prometheusSpec:
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: "longhorn"
              resources:
                requests:
                  storage: 40Gi
