name: Renovate

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log Level"
        required: false
        default: "debug"
      printConfig:
        description: "Log Imported Config"
        required: false
        default: "true" 
  
  schedule:
    - cron: '0 * * * *'

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.1.6
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          RENOVATE_REPOSITORIES: "Sean-Zhong/fleet-infra"
          
          LOG_LEVEL: ${{ inputs.logLevel || 'debug' }}
